body {
  margin: auto;
  position: relative;
  width: 1440px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

.background {
  background: #000208;
  background-image: url("/images/stars-png-639.png");
}

.header {
  justify-content: space-between;
  width: 100vw;

  background: rgba(217, 217, 217, 0.5);
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
}

.header-left {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.header a {
  color: black;
}

.header a:hover {
  color: blue;
}

.header input {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  background: rgba(217, 217, 217, 0.8);
}

.nav-item a {
  font-weight: bold;
}

.main {
  width: 97vw;
  height: 100vh;
  padding: 50px;

  margin: 50px;
}

.title {
  font-family: "Encode Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  margin-left: 40px;
  color: #ffffff;
}

.menu {
  height: 27px;
  width: 37px;
  left: 1363px;
  top: 39px;
  border-radius: 0px;
}

.item {
  height: 150px;
  width: 150px;
  margin: 3px;
  border-radius: 16px;
}

@media (min-width: 1000px) {
  .carousel-item img {
    width: auto !important;
    height: 600px;
    max-height: 700px;
  }
}

.grid {
  display: grid;
  grid-template-columns: calc((100vh - 35rem)) 30rem 50rem 32rem;
  grid-template-rows: 25rem 15rem 20rem;
  grid-template-areas:
    "s1 s1 s2 s3"
    "s1 s1 s2 s4";
}

.s1 {
  grid-area: s1;
  justify-content: center;
  width: 40rem;
  padding: 20px;
  background: #d9d9d973;
}

.s2 {
  grid-area: s2;
  padding: 50px;

  background-color: #ccd8cf17;
}
.s3 {
  grid-area: s3;

  background-color: #0030ff;
}
.s4 {
  grid-area: s4;
  font-family: "sans serif";

  font-weight: 400;
  font-size: 18px;
  background-color: #ff00e4;
  padding: 45px;
  padding-top: 100px;
}

.footer {
  width: 100vw;
  height: 100px;
  text-align: center;
  justify-content: center;
  background: #d9d9d9;
  margin-top: 100vh;
}

.container {
  width: 100px;
  height: 100px;
}

/* Cat page
*/

.col {
  padding: 1%;
}
.col-lg {
  height: 500px;
  width: 500px;
  overflow: hidden;
  margin: 5px 0;
  position: relative;
  flex-basis: 30%;
}

/* Images crop and center to col-lg box up to 1000% centering (if 100% if it's 3x the size it doesn't fully center)Idk man why? projectors and stuff? */
.col-lg img {
    display: block;
    margin: auto;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    min-height: 100%;
    min-width: 100%;


}

.imgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
